@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">GarageDoors - The Smart Garage Solution</h1>
    <form method="post" action="/Status">
        <button type="submit" name="status" value="LOCKED">LOCK</button>
        <button type="submit" name="status" value="UNLOCKED">UNLOCK</button>
    </form>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
