@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to My Garage Doors</h1>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Door Name</th>
            <th>Is Open</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var door in Model.Doors)
        {
            <tr>
                <td>@door.DoorID</td>
                <td>@door.DoorName</td>
                <td>@door.IsOpen</td>

                <td>
                    <form method="post" asp-page-handler="Toggle" asp-route-id="@door.DoorID">
                        <button type="submit">Change Status</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<form method="post" asp-page-handler="AddDoor">
    <label for="doorName">Door Name:</label>
    <input type="text" id="doorName" name="DoorName">
    <button type="submit">Add Door</button>
</form>
