@page
@model GarageDoorsWeb.Models.Door
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">GarageDoors - The Smart Garage Solution</h1>
    <form method="post" action="/Status">
        <button type="submit" class="btn btn-primary" name="status" value="LOCKED">LOCK</button>
        <button type="submit" class="btn btn-primary" name="status" value="UNLOCKED">UNLOCK</button>
    </form>


    <form method="post" action="/api/Door">
        <div class="form-group">
            <label for="doorName">Door Name:</label>
            <input type="text" class="form-control" id="doorName" name="DoorName" required>
            <span class="text-danger">@Html.ValidationMessageFor(model => model.DoorName)</span>
        </div>
        <!-- Add other input fields for door data (e.g., description, etc.) -->

        <button type="submit" class="btn btn-primary">Add Door</button>
    </form>
</div>
